###> docker/container ###
/.ash_history
/.composer
###< docker/container ###

###> Local IDE ###
.idea
.phpstorm_helpers
###< Local IDE ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> analyzers ###
*.cache
###< analyzers ###
