parameters:
    excludes_analyse:
        - /app/src/Shared/Infrastructure/Doctrine/Migrations/*
        - /app/src/Infrastructure/Shared/Migrations/*
    inferPrivatePropertyTypeFromConstructor: true
